ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}


body{
  background-color: #0f0f0f;
  color: #fff;
}

@for $i from 1 through 6 {
  h#{$i} {
    text-align: center;
  }
}