.bg-cover{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.enlarge{
  transform: scale(1);
  transition: transform .3s;
  &:hover{
    transform: scale(1.2);
  }
}
.parallax{
  background-attachment: fixed; /* 固定圖像 */
}
.hoverBottom{
  position: relative;
  &:after{
    content:'';
    width: 0%;
    display: block;
    height: 2px;
    // 暫時先用
    background-color: #fff;
    transition: width .3s;
  }
  &:hover::after{
    width: 100%;
  }
}
.vh-50{
  height: 50vh;
}